include mixins/main

doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Levi Zustiak
  link(rel='stylesheet' type='text/css' title='Cool stylesheet' href='style.css')
  link(rel='icon' href='imgs/icon.svg')
    
    
#loading-container
  h2 Loading
  
#menu-button.menu-button
  .menuBar.menu-top
  .menuBar.menu-btm
nav.menu
  ul.nav-list
    li
      a.nav-link(href='#home') Home
    li
      a.nav-link(href='#about') About
    li
      a.nav-link(href='#projects') Projects
    li
      a.nav-link(href='#contact') Contact
    li
      a.nav-link(href='Resume.pdf' target='_blank' rel='noopener noreferrer') Resume
            
#home.home.flex
  .grid
    img.logo(src='imgs/logo.svg' alt='Personal Logo')
    .home-container.content-grid    
      .landing-headings
        h1 Hi! I'm #[span.left Levi] #[span.right Zustiak]
        h3 And I am a developer & designer 
      img.profile-img(src='imgs/Profile&background.png')
    a.arrow-container(href='#about')
      img.arrow(src='imgs/arrow-icon.svg' alt='Arrow Icon')
      
//  About //
#about.about-container.flex
  .grid
    .about-text.content-text
      h2.title About Me
      p My name is Levi Zustiak, and I am a software developer and graphic designer. I am a developer first and a graphic designer second. I have been a developer for four years and a graphic designer for three. I love anything regarding software development and graphic design. If you'd like to talk shop, feel free to contact me!
      a.about-link(href='#contact') Contact Me
#about-cards.flex
  .grid.about-grid
    .about-cards
      +about-card('developer','imgs/dev-icon.svg','Developer', 'I enjoy developing creative solutions to complex problems.','Languages:','Java, C#, JavaScript, HTML5, CSS3, Swift','Frameworks:','React, React Native, ASP.NET','Dev Tools:','Atom, Github, Selenium, Codepen, Figma, Terminal')
      +about-card('designer','imgs/des-icon.svg','Designer', 'Exploring my creative ideas to the fullest extent.','Things I Design:','UX, UI, Web, Mobile, Apps, Logos','Services:','Website Design, Logo Design, Branding','Design Tools:','Figma, Illustrator, Photoshop, InDesign, Coolors')
 
        
//  Projects //
#projects.project-container.flex
  .grid
    .project-content
      h2.title.project-heading Projects
      .project-grid
        //- +project-card('imgs/js-logo.png')
        +project-card('imgs/csharp-logo.png')
        +project-card('imgs/html5.png')
        +project-card('imgs/react-logo.png')

      +modal-card
        
      
// //// Contact ////
#contact.contact.flex
  .grid
    .content-grid
      .contact-text.content-text
        h2.title Contact
        p Have questions about myself or a project? Send me a message and I’ll get back to you shortly. I’d love to talk with you about anything and everything development or design related!
      .contact-card
        form(action='https://formsubmit.co/lzustiak98@gmail.com' method='POST')
          .form-item
            label(for='name') Name
            br
            input.name(type='text' autocomplete='off' name='name' required='')
            br
          .form-item
            label(for='email') Email
            br
            input#email(type='text' autocomplete='off' name='email' required='')
            br
          .form-item
            label(for='message') Message
            br
            textarea.message(type='text' rows='6' autocomplete='off' name='message' required='')
          input(type='submit' value='submit')
script(src='scripts/script.js' type='text/javascript')
