@font-face {
  font-family: Nexa-Bold;
  src: url('fonts/NexaBold.woff2') format('woff2'),
        url('fonts/NexaBold.woff') format('woff'),
        url('fonts/NexaBold.ttf') format('truetype');
}

@font-face {
  font-family: Nexa-Light;
  src: url('fonts/NexaLight.woff2') format('woff2'),
        url('fonts/NexaLight.woff') format('woff'),
        url('fonts/NexaLight.ttf') format('truetype');
}

:root {
  --blue: #5995ED;
  --green: #78F7A9;
  --lightgrey: #E5E5E5;
  --darkgrey: rgb(210,210,210);
  --white: #fff;
  --black: #353535;
  --lightshadow: -5px 5px 20px 5px rgba(229, 229, 229, .75);
  --darkshadow: rgba(229, 229, 229,1);
  --card-shadow: -5px 5px 25px 5px rgba(230,230,230,0.5);
}

p { font-family: Nexa-Light;}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 250ms ease-in-out;
}

body {
  scroll-behavior: smooth;
  overflow-y: overlay;
  overflow-x: hidden;
  scrollbar-gutter: always both force;
  transition: overflow 0s linear 2s;
  color: var(--black);
  width: 100vw;
  background-image: url('imgs/mobile-background.svg');
  background-repeat: repeat-y;
  background-position: center;
}

.scrollLock {
  overflow: hidden;
}

html {
  font-family: Nexa-Bold, sans-serif;
  scroll-behavior: smooth;
  width: 100vw;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.25rem;}

a {
  text-decoration: none;
  color: var(--blue);
}

li {
  list-style: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url('imgs/mobile-background.svg') repeat center center fixed; */
}

.grid {
  max-width: 1440px;
  width: 100%;
  height: auto;
  padding: 0 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.content-grid {
  grid-column: 1 / span 4;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  row-gap: 2rem;
}

.content-text {
  justify-self: center;
  max-width: 60ch;
  background-color: var(--white);
}

.title {
  margin-bottom: 1rem;
}

.card-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

/*--- Menu ---*/
.menu {
  height: 100vh;
  width: 0vw;
  position: fixed;
  right: 0;
  z-index: 1;
  transition: 500ms ease-in-out;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  overflow: hidden;
}

.menu ul {
  text-align: center;
}

.menu li {
  font-size: 2.5rem;
  margin-top: 1rem;
  transition: transform 200ms ease-in-out;
}

.menu li:hover {
  transform: scale(1.1);
}

.menuToggle {
  width: 100vw;
  visibility: visible;
}

.menuClose.menu-top {
  animation: animateCloseTop 500ms backwards;
  animation-direction: reverse;
}

.menuClose.menu-btm {
  animation: animateCloseBtm 500ms backwards;
  animation-direction: reverse;
}

.menuOpen.menu-top {
    animation: animateTop 500ms forwards;
}

.menuOpen.menu-btm {
    animation: animateBtm 500ms forwards;
}

@keyframes animateCloseTop {
  0%{transform: translateY(0) rotate(0deg);}
  50%{transform: translateY(8px) rotate(0deg);}
  100%{transform: translateY(8px) rotate(135deg);}
}

@keyframes animateCloseBtm {
  0%{transform: translateY(0) rotate(0deg);}
  50%{transform: translateY(-8px) rotate(0deg);}
  100%{transform: translateY(-8px) rotate(45deg);}
}

@keyframes animateTop {
  0%{transform: translateY(0) rotate(0deg);}
  50%{transform: translateY(8px) rotate(0deg);}
  100%{transform: translateY(8px) rotate(135deg);}
}

@keyframes animateBtm {
  0%{transform: translateY(0) rotate(0deg);}
  50%{transform: translateY(-8px) rotate(0deg);}
  100%{transform: translateY(-8px) rotate(45deg);}
}

/*--- Landing Page ---*/

.home {
  height: 100vh;
  width: 100vw;
}

.logo {
  position: fixed;
  top: 50px;
  left: 50px;
  height: 40px;
  width: 40px;
  z-index: 2;
}

.logo:hover {
  animation: logoAnimation 250ms ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes logoAnimation {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1.1) rotate(-15deg);
  }
}

.menu-button {
  position: fixed;
  top: 50px;
  right: 50px;
  height: 3rem;
  width: 3.5rem;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 2;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-button:hover div {
  background-color: var(--blue);
}

.menu-button div {
  width: 100%;
  height: 5px;
  background-color: var(--lightgrey);
  border-radius: 6px;
  transform-origin: center;
}

.left {
  color: var(--blue);
}

.right {
  color: var(--green);
}

.home-container {
  grid-gap: 0;
}

.landing-headings {
  padding: 5vh 0;
  justify-self: left;
  align-self: center;
  background-color: white;
}

.profile-img {
  width: 100%;
  height: auto;
  max-width: 450px;
  justify-self: right;
}

.arrow-container {
  width: 2rem;
  height: auto;
  position: absolute;
  bottom: 7.5vh;
  right: 7.5vw;
}

.arrow:hover {
  cursor: pointer;
  transform: translateY(25%);
}

/*--- About ---*/

.about-container {
  background-image: none;
  width: 100vw;
  padding: 20vh 0;
  background-color: rgba(249, 250, 252, 0.9);
}

.about-text {
  background-color: transparent;
}

.about-text p {
  margin-bottom: 1rem;
}

.about-link:hover {
  color: var(--green);
}

#about-cards {
  width: 100vw;
}

.about-cards {
  transform: translateY(-5%);
  grid-column: 1 / span 4;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 5rem;
}

.card {
  padding: 2.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  background-color: white;
  box-shadow: -5px 5px 25px 5px rgba(230,230,230,0.5);
  border-radius: 15px;
}

.card-heading {
  margin-bottom: 0.75rem;
}

.developer h4 {
  color: var(--blue);
}

.designer h4 {
  color: var(--green);
}

.about-img {
  width: 5rem;
  height: auto;
}

/*--- Projects ---*/

.project-container {
  width: 100vw;
  padding: 5rem 0;
}

.project-content {
  grid-column: 1 / span 4;
  display: grid;
}

.project-heading {
  padding-left: .5rem;
}

.project-grid {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
  padding: 0;
}

.hide-projects {
  visibility: hidden;
  opacity: 0;
}

.project-card {
  border-radius: 1rem;
  padding: 1.25rem;
  background-color: white;
  box-shadow: -5px 5px 25px 2.5px rgba(220,220,220,0.5);
}

.project-card:nth-last-child(-n+2) {
  display: none;
}

.project-card:hover {
  cursor: pointer;
  transform: translate(7.5px, -7.5px);
  box-shadow: -7.5px 7.5px 0 var(--green);
}

.project-card:hover:nth-child(even) {
  box-shadow: -7.5px 7.5px 0 var(--blue);
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: -5px;
}

.modal-card {
  height: min-content;
  grid-column: 1;
  grid-row: 2;
  background-color: var(--white);
  display: grid;
  visibility: hidden;
  opacity: 1;
  grid-template-columns: 1fr;
  row-gap: 3rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: -5px 5px 25px 2.5px rgba(220,220,220,0.5);
  opacity: 0;
}

.modal-headings {
  grid-row: 1;
}

.modal-heading {
  margin-bottom: 0.25rem;
}

.close-button {
  width: 2rem;
  height: 2rem;
  border-radius: 0.33rem;
  background-color: var(--lightgrey);
  grid-row: 1;
  justify-self: end;
}

.close-button:hover {
  cursor: pointer;
  opacity: 1;
  background-color: var(--blue);
}

.close-icon {
  width: 1rem;
  height: 1rem;
  fill: #ffffff;
}

.problem-container {
  margin-top: 0.5rem;
  grid-column: 1/3;
  grid-row: 2;
}

.solution-container {
  grid-column: 1/3;
  grid-row: 3;
}

.modal-card a {
  grid-row: 4;
  color: var(--blue);
  text-decoration: none;
}

.modal-card a:hover {
  color: var(--green);
}

.modal-transition {
  visibility: visible;
  opacity: 1;
}

/*--- Contact ---*/
.contact {
  padding: 20vh 0 15vh 0;
  width: 100vw;
}

.contact .content-grid {
  column-gap: 2rem;
}

.contact-text {
}

.contact-card {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.contact-card form {
  max-width: 400px;
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: -5px 5px 25px 2.5px rgba(220,220,220,0.75);
  display: grid;
  gap: 1.25rem;
}

.contact-card form:hover {
  box-shadow: -5px 5px 25px 2.5px rgba(205,205,205,0.75);
  transform: translate(1.5px,-1.5px);
}

input {
  height: 40px;
  width: 100%;
  border-radius: 7.5px;
  margin-top: 4px;
}

label {
  padding-left: 3px;
}

input[type=text] {
  border: 2px solid var(--lightgrey);
  outline: none;
  color: var(--darkgrey);
  padding: 0 0.5rem;
  font-size: 1rem;
  font-family: nexa-light;
}

input[type=text]:focus {
  border: 2px solid var(--green);
  color: black;
}

input[type=submit] {
  background: transparent;
  border: 2px solid var(--blue);
  font-family: nexa-bold;
  font-size: 1rem;
  color: var(--blue);
}

input[type=submit]:hover {
  background: var(--blue);
  color: white;
}

.message {
  resize: none;
  width: 100%;
  border: 2px solid var(--lightgrey);
  border-radius: 7.5px;
  padding: 0.5rem;
  font-family: nexa-light;
  font-size: 1rem;
  outline: none;
  color: var(--darkgrey);
  margin-top: 3px;
}

.message:focus {
  border-color: var(--green);
  color: black;
}

/*---- Mediaquery Breakpoints ----*/

/* Ipads, Tablets */
@media (min-width: 481px) {
  body {
    background-image: url('imgs/tablet-background.svg');
  }

  .grid {
    padding: 0 50px;
    grid-template-columns: repeat(8, 1fr);
  }

  .home {
    flex-direction: row;
  }

  .content-grid {
    grid-column: 2 / span 6;
  }

  .about-container {
    background-image: none;
  }

  .about-cards {
    grid-column: 2 / span 6;
    transform: translateY(-10%);
  }

  .project-content {
    grid-column: 2 / span 6;
  }
}

@media (min-width: 676px) {
  .project-card:nth-last-child(-n+2) {
    display: block;
  }
}

/* Small Screens */
@media (min-width: 769px) {
  .content-grid {
    grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
  }

  .logo {
    width: 50px;
    height: 50px;
  }
}

/* Desktops */
@media (min-width: 1025px) {
  body {
    background-image: url('imgs/background-icons.svg');
  }

  h3 { font-size: 24px; }
  h4 { font-size: 18px; }
  p { font-size: 18px; }

  .grid {
    grid-template-columns: repeat(12, 1fr);
  }

  .content-grid {
    grid-column: 2 / span 10;
  }

  .about-container {
    background-image: none;
  }

  .about-cards {
    grid-column: 3 / span 8;
  }

  .project-content {
    grid-column: 3 / span 8;
  }
}

@media (max-width: 1168px) {
  .landing-headings {
    justify-self: center;
  }

  .profile-img {
    justify-self: center;
  }
}
