@font-face {
  font-family: Nexa-Bold;
  src: url('fonts/NexaBold.woff2') format('woff2'),
        url('fonts/NexaBold.woff') format('woff'),
        url('fonts/NexaBold.ttf') format('truetype');
}

@font-face {
  font-family: Nexa-Light;
  src: url('fonts/NexaLight.woff2') format('woff2'),
        url('fonts/NexaLight.woff') format('woff'),
        url('fonts/NexaLight.ttf') format('truetype');
}

:root {
  --blue: #5995ED;
  --green: #78F7A9;
  --lightgrey: #E5E5E5;
  --white: #fff;
  --black: #282828;
  --lightshadow: -5px 5px 20px 5px rgba(229, 229, 229, .75);
  --darkshadow: rgba(229, 229, 229);
}

p { font-family: Nexa-Light;}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('imgs/background-icons.svg');
  background-size: auto;
  background-position: center;
  scroll-behavior: smooth;
  transition: overflow 0s linear 2s;
}

.scrollLock {
  overflow: hidden;
}

html {
  font-family: Nexa-Bold, sans-serif;
  scroll-behavior: smooth;
}

h1 { font-size: 3rem; }

a {
  text-decoration: none;
  color: var(--blue);
}

li {
  list-style: none;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  max-width: 1440px;
  width: 100%;
  height: auto;
  padding: 0 40px;
  margin: 6rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 10rem;
}

.content-grid {
  grid-column: 1 / span 4;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
}

.content-text {
  justify-self: center;
  padding: 2rem 0;
  max-width: 60ch;
  background-color: var(--white);
}

.blue-card {
  padding: 2rem 0;
  box-shadow: -5px 5px 0px var(--blue), var(--lightshadow);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

.title {
  margin-bottom: 1.25rem;
}

.card-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 1rem;
}

/*--- Menu ---*/
.menu {
  height: 100vh;
  width: 0;
  position: fixed;
  right: 0;
  z-index: 1;
  transition: 500ms ease-in-out;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  overflow: hidden;
}

.menu li {
  font-size: 2.5rem;
  margin-top: 1rem;
  transition: transform 200ms ease-in-out;
}

.menu li:hover {
  transform: scale(1.1);
}

.menuToggle {
  width: 100vw;
  visibility: visible;
}

.menuClose.menu-top {
  animation: animateCloseTop 500ms backwards;
  animation-direction: reverse;
}

.menuClose.menu-btm {
  animation: animateCloseBtm 500ms backwards;
  animation-direction: reverse;
}

.menuOpen.menu-top {
    animation: animateTop 500ms forwards;
}

.menuOpen.menu-btm {
    animation: animateBtm 500ms forwards;
}

@keyframes animateCloseTop {
  0%{transform: translateY(0) rotate(0deg);}
  50%{transform: translateY(8px) rotate(0deg);}
  100%{transform: translateY(8px) rotate(135deg);}
}

@keyframes animateCloseBtm {
  0%{transform: translateY(0) rotate(0deg);}
  50%{transform: translateY(-8px) rotate(0deg);}
  100%{transform: translateY(-8px) rotate(45deg);}
}

@keyframes animateTop {
  0%{transform: translateY(0) rotate(0deg);}
  50%{transform: translateY(8px) rotate(0deg);}
  100%{transform: translateY(8px) rotate(135deg);}
}

@keyframes animateBtm {
  0%{transform: translateY(0) rotate(0deg);}
  50%{transform: translateY(-8px) rotate(0deg);}
  100%{transform: translateY(-8px) rotate(45deg);}
}

/*--- Landing Page ---*/

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  position: fixed;
  top: 50px;
  left: 50px;
  height: 40px;
  width: 40px;
}

.menu-button {
  position: fixed;
  top: 50px;
  right: 50px;
  height: 3rem;
  width: 3.5rem;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 2;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-button:hover div {
  background-color: var(--blue);
}

.menu-button > div {
  width: 100%;
  height: 5px;
  background-color: var(--lightgrey);
  border-radius: 6px;
  transition: background-color 250ms ease-in-out;
  transform-origin: center;
}


.left-item {
  color: var(--blue);
}

.right-item {
  color: var(--green);
}

.line {
  height: 5px;
  width: 3rem;
  border-radius: 5px;
  background-color: var(--lightgrey);
  margin: 5vh 0;
}

/*--- About ---*/

.about {
  row-gap: 25px;
}

.about-text {
}

.profile-div {
  width: 100%;
  height: 350px;
  position: relative;
}

.profile-img {
  width: 100%;
  height: auto;
  border-radius: 250px;
  position: absolute;
  filter: drop-shadow(-10px 10px 15px rgba(0,0,0,.15));
  transform: translateY(-25px);
  right: 0;
  max-width: 350px;
}

.profile-background {
  height: auto;
  width: 100%;
  position: absolute;
  max-width: 450px;
  right: 2rem;
}

/*--- Projects ---*/

.projects {
  grid-column: 1 / span 4;
  grid-row: 2;
  background-color: grey;
}

.project-heading {
  padding-left: .5rem;
}

.project-grid {
  grid-column: 2 / span 10;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
  transition: opacity 300ms ease-in-out;
}

.hide-projects {
  display: none;
}

.project-fade {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.project-card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: white;
  transition: transform 0.25s ease-in-out, box-shadow .25s ease-in-out;
}

.project-card:hover {
  transform: translate(7.5px, -7.5px);
  box-shadow: -7.5px 7.5px 0 var(--green), var(--lightshadow);
}

.project-card:hover:nth-child(even) {
  box-shadow: -7.5px 7.5px 0 var(--blue), var(--lightshadow);
}

.card-img {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}



.modal-card {
  background-color: var(--white);
  display: none;
  opacity: 0;
  grid-template-columns: 1fr;
  row-gap: 0.75rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: -5px 5px 25px 2.5px rgba(220,220,220,0.5);
}

.heading {
  grid-row: 1;
  align-self: center;
}

.close-button {
  width: 2rem;
  height: 2rem;
  border-radius: 0.33rem;
  background-color: var(--blue);
  grid-row: 1;
  justify-self: end;
  align-self: center;
}

.subheading {
  grid-row: 2;
}

.modal-card p {
  margin-top: 0.5rem;
  grid-column: 1/3;
  grid-row: 4;
}

.modal-card a {
  grid-row: 5;
  color: var(--blue);
  text-decoration: none;
  transition: color 250ms ease-in-out;
}

.modal-card a:hover {
  color: var(--green);
}

.project-fade-out {

}

.project-fade-in {
}

.modal-transition {
  opacity: 1;
  display: grid;
}

/*--- Contact ---*/
.contact {
  column-gap: 4rem;
}


.contact-card {
  height: 35rem;
}

.socials {
  align-self: end;
  display: flex;
  justify-content: center;
}

.social-button {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: 2px solid var(--blue);
}

.social-button:nth-child(2) {
  border: 2px solid var(--green);
  margin: 0 2rem;
}


/*---- Mediaquery Breakpoints ----*/

/* Ipads, Tablets */
@media (min-width: 481px) {
  .grid {
    padding: 0 50px;
    grid-template-columns: repeat(8, 1fr);
  }

  .home {
    flex-direction: row;
  }

  .line {
    height: 5rem;
    width: 5px;
    margin: 0 5vw;
  }

  .content-grid {
    grid-column: 2 / span 6;
  }

  .projects {
    grid-column: 2 / span 6;
  }
}

/* Small Screens */
@media (min-width: 769px) {
  .content-grid {
    grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
  }

  .logo {
    width: 50px;
    height: 50px;
  }
}

/* Desktops */
@media (min-width: 1025px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    row-gap: 15rem;
  }

  .content-grid {
    grid-column: 2 / span 10;
  }

  .projects {
    grid-column: 3 / span 8;
  }
}

@media (max-width: 1171px) {
  .profile-img {
    left: 50%;
    transform: translate(-50%, 0);
  }

  .profile-background {
    left: 50%;
    transform: translate(-66%, 0);
  }
}
