* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: pink;
  max-width: 60vw;
}

.center {
  display: flex;
  justify-content: center;
}

#home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  position: fixed;
  top: 50px;
  left: 50px;
  height: 50px;
  width: 50px;
}

#tabBar {
  display: flex;
  justify-content: center;
}

#about {
  height: 75vh;
  background-color: blue;
  display: grid;
  grid-template-columns: 500px auto 500px;
  grid-template-rows: auto 50% auto;
}

.grid {
  display: grid;
  grid-template-columns: 500px auto 500px;
}

.textContent {
  background-color: red;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#aboutCard {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.card {
  box-shadow: -5px 5px 0px #5995ED, 10px -5px 25px rgba(229, 229, 229, 0.25);
  border-radius: 25px;
}

#projects {
  height: 100vh;
  background-color: red;
  display: grid;
  grid-template-columns: auto 20% 20% 20% 20% 20% auto;
}

.projectCard {
  box-shadow: -5px 5px 0px #78F7A9, 10px -5px 25px rgba(229, 229, 229, 0.25);
  border-radius: 25px;
  grid-column: 3/5;
}

#contact {
  height: 100vh;
  grid-template-rows: auto 20% 20% 20% auto;
}

#contactText {
  background-color: blue;
  grid-column: 2/3;
  grid-row: 2/3;
}

#contactCard {
  grid-column: 4/5;
  grid-row: 2/5;
}

#contactSocials {
  grid-column: 2/3;
  grid-row: 4/5;
  display: flex;
  align-self: center;
  justify-content: center;

}

.socialButton {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: coral;
}

.socialButton:nth-child(2) {
  margin: 0 25px;
}
