@font-face {
  font-family: Nexa-Bold;
  src: url('fonts/NexaBold.woff2') format('woff2'),
        url('fonts/NexaBold.woff') format('woff'),
        url('fonts/NexaBold.ttf') format('truetype');
}

@font-face {
  font-family: Nexa-Light;
  src: url('fonts/NexaLight.woff2') format('woff2'),
        url('fonts/NexaLight.woff') format('woff'),
        url('fonts/NexaLight.ttf') format('truetype');
}

:root {
  --blue: #5995ED;
  --green: #78F7A9;
  --lightgrey: #E5E5E5;
  --darkgrey: rgb(210,210,210);
  --white: #fff;
  --black: #282828;
  --lightshadow: -5px 5px 20px 5px rgba(229, 229, 229, .75);
  --darkshadow: rgba(229, 229, 229,1);
}

p { font-family: Nexa-Light;}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-image: url('imgs/background-icons.svg');
  background-size: auto;
  background-position: center; */
  scroll-behavior: smooth;
  overflow-x: hidden;
  transition: overflow 0s linear 2s;
}

.scrollLock {
  overflow: hidden;
}

html {
  font-family: Nexa-Bold, sans-serif;
  scroll-behavior: smooth;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.25rem;}

a {
  text-decoration: none;
  color: var(--blue);
}

li {
  list-style: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  max-width: 1440px;
  width: 100%;
  height: auto;
  padding: 0 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.content-grid {
  grid-column: 1 / span 4;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  row-gap: 4rem;
}

.content-text {
  justify-self: center;
  max-width: 60ch;
  background-color: var(--white);
}

.title {
  margin-bottom: 2rem;
}

.card-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 1rem;
}

/*--- Menu ---*/
.menu {
  height: 100vh;
  width: 0;
  position: fixed;
  right: 0;
  z-index: 1;
  transition: 500ms ease-in-out;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  overflow: hidden;
}

.menu li {
  font-size: 2.5rem;
  margin-top: 1rem;
  transition: transform 200ms ease-in-out;
}

.menu li:hover {
  transform: scale(1.1);
}

.menuToggle {
  width: 100vw;
  visibility: visible;
}

.menuClose.menu-top {
  animation: animateCloseTop 500ms backwards;
  animation-direction: reverse;
}

.menuClose.menu-btm {
  animation: animateCloseBtm 500ms backwards;
  animation-direction: reverse;
}

.menuOpen.menu-top {
    animation: animateTop 500ms forwards;
}

.menuOpen.menu-btm {
    animation: animateBtm 500ms forwards;
}

@keyframes animateCloseTop {
  0%{transform: translateY(0) rotate(0deg);}
  50%{transform: translateY(8px) rotate(0deg);}
  100%{transform: translateY(8px) rotate(135deg);}
}

@keyframes animateCloseBtm {
  0%{transform: translateY(0) rotate(0deg);}
  50%{transform: translateY(-8px) rotate(0deg);}
  100%{transform: translateY(-8px) rotate(45deg);}
}

@keyframes animateTop {
  0%{transform: translateY(0) rotate(0deg);}
  50%{transform: translateY(8px) rotate(0deg);}
  100%{transform: translateY(8px) rotate(135deg);}
}

@keyframes animateBtm {
  0%{transform: translateY(0) rotate(0deg);}
  50%{transform: translateY(-8px) rotate(0deg);}
  100%{transform: translateY(-8px) rotate(45deg);}
}

/*--- Landing Page ---*/

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  position: fixed;
  top: 50px;
  left: 50px;
  height: 40px;
  width: 40px;
}

.menu-button {
  position: fixed;
  top: 50px;
  right: 50px;
  height: 3rem;
  width: 3.5rem;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 2;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-button:hover div {
  background-color: var(--blue);
}

.menu-button div {
  width: 100%;
  height: 5px;
  background-color: var(--lightgrey);
  border-radius: 6px;
  transition: background-color 250ms ease-in-out;
  transform-origin: center;
}


.left-item {
  color: var(--blue);
}

.right-item {
  color: var(--green);
}

/*--- About ---*/

.about-container {
  width: 100vw;
  padding: 20vh 0;
}

.about-text {
  background-color: transparent;
}

.profile-div {
  width: 100%;
  height: 350px;
  position: relative;
}

.profile-img {
  width: 100%;
  height: auto;
  border-radius: 250px;
  position: absolute;
  filter: drop-shadow(-10px 10px 15px rgba(0,0,0,.15));
  transform: translateY(-25px);
  right: 0;
  max-width: 350px;
}

.profile-background {
  height: auto;
  width: 100%;
  position: absolute;
  max-width: 450px;
  right: 2rem;
}

/*--- Projects ---*/

.project-container {
  width: 100vw;
  padding: 20vh 0;
  background-color: rgba(245,245,245,0.75);
}

.project-content {
  grid-column: 1 / span 4;
  grid-row: 2;
}

.project-heading {
  padding-left: .5rem;
}

.project-grid {
  grid-column: 2 / span 10;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
  transition: opacity 300ms ease-in-out;
  padding: 0;
}

.hide-projects {
  display: none;
}

.project-fade {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.project-card {
  border-radius: 1rem;
  transition: all 0.25s ease-in-out;
  padding: 1.25rem;
  background-color: white;
  box-shadow: -5px 5px 25px 2.5px rgba(220,220,220,0.5);
}

.project-card:nth-last-child(-n+2) {
  display: none;
}

.project-card:hover {
  transform: translate(7.5px, -7.5px);
  box-shadow: -7.5px 7.5px 0 var(--green);
}

.project-card:hover:nth-child(even) {
  box-shadow: -7.5px 7.5px 0 var(--blue);
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: -5px;
}

.modal-card {
  background-color: var(--white);
  display: none;
  opacity: 0;
  grid-template-columns: 1fr;
  row-gap: 3rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: -5px 5px 25px 2.5px rgba(220,220,220,0.5);
}

.modal-headings {
  grid-row: 1;
}

.modal-heading {
  margin-bottom: 0.25rem;
}

.close-button {
  width: 2rem;
  height: 2rem;
  border-radius: 0.33rem;
  background-color: var(--blue);
  grid-row: 1;
  justify-self: end;
}


.problem-container {
  margin-top: 0.5rem;
  grid-column: 1/3;
  grid-row: 2;
}

.solution-container {
  grid-column: 1/3;
  grid-row: 3;
}

.modal-card a {
  grid-row: 4;
  color: var(--blue);
  text-decoration: none;
  transition: color 250ms ease-in-out;
}

.modal-card a:hover {
  color: var(--green);
}

.project-fade-out {

}

.project-fade-in {
}

.modal-transition {
  opacity: 1;
  display: grid;
}

/*--- Contact ---*/
.contact {
  padding: 20vh 0 15vh 0;
  width: 100vw;
}

.contact .content-grid {
  column-gap: 2rem;
}

.contact-text {
}

.contact-card {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.contact-card form {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: -5px 5px 25px 2.5px rgba(220,220,220,0.75);
  max-width: 400px;
  display: grid;
  gap: 1.25rem;
  width: 100%;
  transition: all 250ms ease-in-out;
}

.contact-card form:hover {
  box-shadow: -5px 5px 25px 2.5px rgba(205,205,205,0.75);
  transform: translate(2.5px,-2.5px);
}

input {
  height: 40px;
  width: 100%;
  border-radius: 7.5px;
  transition: all 250ms ease-in-out;
  margin-top: 4px;
}

label {
  padding-left: 3px;
}

input[type=text] {
  border: 2px solid var(--lightgrey);
  outline: none;
  color: var(--darkgrey);
  padding: 0 0.5rem;
  font-size: 1rem;
  font-family: nexa-light;
}

input[type=text]:focus {
  border: 2px solid var(--green);
  color: black;
}

input[type=submit] {
  background: transparent;
  border: 2px solid var(--blue);
  font-family: nexa-bold;
  font-size: 1rem;
  color: var(--blue);
}

input[type=submit]:hover {
  background: var(--blue);
  color: white;
}

.message {
  resize: none;
  width: 100%;
  border: 2px solid var(--lightgrey);
  border-radius: 7.5px;
  padding: 0.5rem;
  font-family: nexa-light;
  font-size: 1rem;
  outline: none;
  color: var(--darkgrey);
  margin-top: 3px;
}

.message:focus {
  border-color: var(--green);
  color: black;
}

/*---- Mediaquery Breakpoints ----*/

/* Ipads, Tablets */
@media (min-width: 481px) {
  .grid {
    padding: 0 50px;
    grid-template-columns: repeat(8, 1fr);
  }

  .home {
    flex-direction: row;
  }

  .content-grid {
    grid-column: 2 / span 6;
  }

  .project-content {
    grid-column: 2 / span 6;
  }
}

@media (min-width: 676px) {
  .project-card:nth-last-child(-n+2) {
    display: block;
  }
}

/* Small Screens */
@media (min-width: 769px) {
  .content-grid {
    grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
  }

  .logo {
    width: 45px;
    height: 45px;
  }
}

/* Desktops */
@media (min-width: 1025px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }

  .content-grid {
    grid-column: 2 / span 10;
  }

  .project-content {
    grid-column: 3 / span 8;
  }
}

@media (max-width: 1171px) {
  .profile-img {
    left: 50%;
    transform: translate(-50%, 0);
  }

  .profile-background {
    left: 50%;
    transform: translate(-66%, 0);
  }
}
