@font-face {
  font-family: Nexa-Bold;
  src: url('fonts/NexaBold.woff2') format('woff2'),
        url('fonts/NexaBold.woff') format('woff'),
        url('fonts/NexaBold.ttf') format('truetype');
}

@font-face {
  font-family: Nexa-Light;
  src: url('fonts/NexaLight.woff2') format('woff2'),
        url('fonts/NexaLight.woff') format('woff'),
        url('fonts/NexaLight.ttf') format('truetype');
}

:root {
  --blue: #5995ED;
  --green: #78F7A9;
  --lightgrey: #E5E5E5;
  --white: #fff;
  --black: #282828;
}

p { font-family: Nexa-Light;}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-family: Nexa-Bold, sans-serif;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  max-width: 1440px;
  width: 100%;
  height: min-content;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  padding: 0 40px;
}

.blue-card {
  padding: 32px 0;
  box-shadow: -5px 5px 0px #5995ED, 10px -5px 25px rgba(229, 229, 229, 0.25);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content h3 {
  margin-bottom: 1.25rem;
}

.card-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: fixed;
  top: 50px;
  left: 50px;
  height: 40px;
  width: 40px;
}

.develop {
  color: var(--blue);
}

.design {
  color: var(--green);
}

.line {
  height: 100px;
  width: 5px;
  border-radius: 5px;
  background-color: var(--lightgrey);
  margin: 0 5vw;
}

.about {
  margin: 15vh 0;
}

.about-text {
  padding: 25px 0;
  grid-column: 2 / span 5;
}

.about-text h2 {
  margin-bottom: 1.25rem;
}

.languages {
  grid-column: 8 / 10;
  align-self: start;
  height: 16rem;
}

.services {
  grid-column: 10 / 12;
  align-self: end;
}

.project-heading {
}

.project-grid {
  max-width: 1440px;
  margin: 15vh 0;
  padding: 0 40px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(496px, 1fr));
  grid-gap: 2.5rem;
}

.project-card {
  display: flex;

}

.card-img {
  max-height: 10rem;
  max-width: 10rem;
}

.project-card-text {

}
