@font-face {
  font-family: Nexa-Bold;
  src: url('fonts/NexaBold.woff2') format('woff2'),
        url('fonts/NexaBold.woff') format('woff'),
        url('fonts/NexaBold.ttf') format('truetype');
}

@font-face {
  font-family: Nexa-Light;
  src: url('fonts/NexaLight.woff2') format('woff2'),
        url('fonts/NexaLight.woff') format('woff'),
        url('fonts/NexaLight.ttf') format('truetype');
}

:root {
  --blue: #5995ED;
  --green: #78F7A9;
  --lightgrey: #E5E5E5;
  --darkgrey: rgb(210,210,210);
  --white: #fff;
  --black: #353535;
  --lightshadow: -5px 5px 20px 5px rgba(229, 229, 229, .75);
  --darkshadow: rgba(229, 229, 229,1);
  --card-shadow: -5px 5px 25px 5px rgba(230,230,230,0.5);
}

p { font-family: Nexa-Light;}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

body {
  scroll-behavior: smooth;
  overflow-y: overlay;
  overflow-x: hidden;
  scrollbar-gutter: always both force;
  -webkit-transition: overflow 0s linear 2s;
  -o-transition: overflow 0s linear 2s;
  transition: overflow 0s linear 2s;
  color: var(--black);
  width: 100vw;
  background-image: url('imgs/mobile-background.svg');
  background-repeat: repeat-y;
  background-position: center;
}

.scrollLock {
  overflow: hidden;
}

html {
  font-family: Nexa-Bold, sans-serif;
  scroll-behavior: smooth;
  width: 100vw;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.25rem;}

a {
  text-decoration: none;
  color: var(--blue);
}

li {
  list-style: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10vh;
}

.grid {
  max-width: 1440px;
  width: 100%;
  height: auto;
  padding: 0 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}

.content-grid {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  row-gap: 2rem;
}

.content-text {
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 60ch;
  background-color: var(--white);
}

.title {
  margin-bottom: 1rem;
}

.card-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

/*--- Loading ---*/
#loading-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  z-index: 5;
  -webkit-animation: loading 1s ease-in-out 1s;
          animation: loading 1s ease-in-out 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes loading {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    visibility: hidden;
  }
}

@keyframes loading {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    visibility: hidden;
  }
}

/*--- Menu ---*/
.menu {
  height: 100vh;
  width: 0vw;
  position: fixed;
  right: 0;
  z-index: 1;
  -webkit-transition: 500ms ease-in-out;
  -o-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  overflow: hidden;
  background-image: url('imgs/mobile-background.svg');
  background-repeat: repeat-y;
  background-position: center;
}

.menu ul {
  text-align: center;
  background-color: white;
  padding: 2rem;
}

.menu li {
  font-size: 2.5rem;
  margin-top: 1rem;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  -o-transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.menu li:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.menuToggle {
  width: 100vw;
  visibility: visible;
}

.menuClose.menu-top {
  -webkit-animation: animateCloseTop 500ms backwards;
          animation: animateCloseTop 500ms backwards;
  animation-direction: reverse;
}

.menuClose.menu-btm {
  -webkit-animation: animateCloseBtm 500ms backwards;
          animation: animateCloseBtm 500ms backwards;
  animation-direction: reverse;
}

.menuOpen.menu-top {
    -webkit-animation: animateTop 500ms forwards;
            animation: animateTop 500ms forwards;
}

.menuOpen.menu-btm {
    -webkit-animation: animateBtm 500ms forwards;
            animation: animateBtm 500ms forwards;
}

@-webkit-keyframes animateCloseTop {
  0%{-webkit-transform: translateY(0) rotate(0deg);transform: translateY(0) rotate(0deg);}
  50%{-webkit-transform: translateY(8px) rotate(0deg);transform: translateY(8px) rotate(0deg);}
  100%{-webkit-transform: translateY(8px) rotate(135deg);transform: translateY(8px) rotate(135deg);}
}

@keyframes animateCloseTop {
  0%{-webkit-transform: translateY(0) rotate(0deg);transform: translateY(0) rotate(0deg);}
  50%{-webkit-transform: translateY(8px) rotate(0deg);transform: translateY(8px) rotate(0deg);}
  100%{-webkit-transform: translateY(8px) rotate(135deg);transform: translateY(8px) rotate(135deg);}
}

@-webkit-keyframes animateCloseBtm {
  0%{-webkit-transform: translateY(0) rotate(0deg);transform: translateY(0) rotate(0deg);}
  50%{-webkit-transform: translateY(-8px) rotate(0deg);transform: translateY(-8px) rotate(0deg);}
  100%{-webkit-transform: translateY(-8px) rotate(45deg);transform: translateY(-8px) rotate(45deg);}
}

@keyframes animateCloseBtm {
  0%{-webkit-transform: translateY(0) rotate(0deg);transform: translateY(0) rotate(0deg);}
  50%{-webkit-transform: translateY(-8px) rotate(0deg);transform: translateY(-8px) rotate(0deg);}
  100%{-webkit-transform: translateY(-8px) rotate(45deg);transform: translateY(-8px) rotate(45deg);}
}

@-webkit-keyframes animateTop {
  0%{-webkit-transform: translateY(0) rotate(0deg);transform: translateY(0) rotate(0deg);}
  50%{-webkit-transform: translateY(8px) rotate(0deg);transform: translateY(8px) rotate(0deg);}
  100%{-webkit-transform: translateY(8px) rotate(135deg);transform: translateY(8px) rotate(135deg);}
}

@keyframes animateTop {
  0%{-webkit-transform: translateY(0) rotate(0deg);transform: translateY(0) rotate(0deg);}
  50%{-webkit-transform: translateY(8px) rotate(0deg);transform: translateY(8px) rotate(0deg);}
  100%{-webkit-transform: translateY(8px) rotate(135deg);transform: translateY(8px) rotate(135deg);}
}

@-webkit-keyframes animateBtm {
  0%{-webkit-transform: translateY(0) rotate(0deg);transform: translateY(0) rotate(0deg);}
  50%{-webkit-transform: translateY(-8px) rotate(0deg);transform: translateY(-8px) rotate(0deg);}
  100%{-webkit-transform: translateY(-8px) rotate(45deg);transform: translateY(-8px) rotate(45deg);}
}

@keyframes animateBtm {
  0%{-webkit-transform: translateY(0) rotate(0deg);transform: translateY(0) rotate(0deg);}
  50%{-webkit-transform: translateY(-8px) rotate(0deg);transform: translateY(-8px) rotate(0deg);}
  100%{-webkit-transform: translateY(-8px) rotate(45deg);transform: translateY(-8px) rotate(45deg);}
}

/*--- Landing Page ---*/
#home {
  padding: 0;
}

.home {
  height: 100vh;
  width: 100vw;
}

.logo {
  position: fixed;
  top: 50px;
  left: 30px;
  height: 40px;
  width: 40px;
  z-index: 2;
}

.logo:hover {
  -webkit-animation: logoAnimation 250ms ease-in-out;
          animation: logoAnimation 250ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu-button {
  position: fixed;
  top: 50px;
  right: 30px;
  height: 3rem;
  width: 3.5rem;
  padding: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 2;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-button:hover div {
  background-color: var(--blue);
}

.menu-button div {
  width: 100%;
  height: 5px;
  background-color: var(--lightgrey);
  border-radius: 6px;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.left {
  color: var(--blue);
}

.right {
  color: var(--green);
}

.home-container {
  grid-gap: 0;
}

.landing-headings {
  padding: 5vh 0;
  -ms-grid-column-align: left;
      justify-self: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: white;
}

.profile-img {
  width: 100%;
  height: auto;
  max-width: 450px;
  -ms-grid-column-align: right;
      justify-self: right;
}

.arrow-container {
  width: 1.5rem;
  height: auto;
  position: absolute;
  bottom: 7.5vh;
  right: 7.5vw;
}

.arrow:hover {
  cursor: pointer;
  -webkit-transform: translateY(25%);
      -ms-transform: translateY(25%);
          transform: translateY(25%);
}

/*--- About ---*/

.about-container {
  width: 100vw;
  padding: 10vh 0;
  background-color: rgba(249, 250, 252, 0.9);
}

.about-text {
  background-color: transparent;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/ span 4;
}

.about-text p {
  margin-bottom: 1rem;
}

.about-link:hover {
  color: var(--green);
}

#about-cards {
  width: 100vw;
  padding: 0;
  margin-bottom: -3rem;
}

.about-cards {
  -webkit-transform: translateY(-3rem);
      -ms-transform: translateY(-3rem);
          transform: translateY(-3rem);
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}

.card {
  padding: 3rem;
  padding-bottom: 4rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  background-color: white;
  -webkit-box-shadow: -5px 5px 25px 5px rgba(230,230,230,0.5);
          box-shadow: -5px 5px 25px 5px rgba(230,230,230,0.5);
  border-radius: 15px;
}

.card-heading {
  margin-bottom: 0.75rem;
}

.developer h4 {
  color: var(--blue);
}

.designer h4 {
  color: var(--green);
}

.about-img {
  width: 5rem;
  height: auto;
}

/*--- Projects ---*/
.project-container {
  width: 100vw;
}

.project-content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  display: -ms-grid;
  display: grid;
}

.project-heading {
  padding-left: .5rem;
}

.project-grid {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
  padding: 0;
}

.hide-projects {
  visibility: hidden;
  opacity: 0;
}

.project-card {
  border-radius: 1rem;
  padding: 1.25rem;
  background-color: white;
  -webkit-box-shadow: -5px 5px 25px 2.5px rgba(220,220,220,0.5);
          box-shadow: -5px 5px 25px 2.5px rgba(220,220,220,0.5);
  height: min-content;
}

.project-card:hover {
  cursor: pointer;
  -webkit-transform: translate(7.5px, -7.5px);
      -ms-transform: translate(7.5px, -7.5px);
          transform: translate(7.5px, -7.5px);
  -webkit-box-shadow: -7.5px 7.5px 0 var(--green);
          box-shadow: -7.5px 7.5px 0 var(--green);
}

.project-card:hover:nth-child(even) {
  -webkit-box-shadow: -7.5px 7.5px 0 var(--blue);
          box-shadow: -7.5px 7.5px 0 var(--blue);
}

.card-img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  margin-bottom: -5px;
}

.modal-card {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  background-color: var(--white);
  display: -ms-grid;
  display: grid;
  visibility: hidden;
  opacity: 1;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  row-gap: 3rem;
  padding: 2rem;
  border-radius: 1rem;
  -webkit-box-shadow: -5px 5px 25px 2.5px rgba(220,220,220,0.5);
          box-shadow: -5px 5px 25px 2.5px rgba(220,220,220,0.5);
  opacity: 0;
}

.modal-headings {
  -ms-grid-row: 1;
  grid-row: 1;
}

.modal-heading {
  margin-bottom: 0.25rem;
}

.close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 0.33rem;
  background-color: var(--lightgrey);
  -ms-grid-row: 1;
  grid-row: 1;
  justify-self: end;
}

.close-button:hover {
  cursor: pointer;
  opacity: 1;
  background-color: var(--blue);
}

.close-icon {
  width: 1rem;
  height: 1rem;
  fill: #ffffff;
}

.problem-container {
  margin-top: 0.5rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  grid-row: 2;
}

.solution-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  grid-row: 3;
}

.modal-card a {
  -ms-grid-row: 4;
  grid-row: 4;
  color: var(--blue);
  text-decoration: none;
}

.modal-card a:hover {
  color: var(--green);
}

.modal-transition {
  visibility: visible;
  opacity: 1;
}

/*--- Contact ---*/
#contact {
}

.contact {
  width: 100vw;
  padding: 10vh 0 5vh 0;
}

.contact .content-grid {
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}

.contact-text {
}

.contact-card {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-card form {
  max-width: 400px;
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  background-color: white;
  -webkit-box-shadow: -5px 5px 25px 2.5px rgba(220,220,220,0.75);
          box-shadow: -5px 5px 25px 2.5px rgba(220,220,220,0.75);
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
}

.contact-card form:hover {
  -webkit-box-shadow: -5px 5px 25px 2.5px rgba(205,205,205,0.75);
          box-shadow: -5px 5px 25px 2.5px rgba(205,205,205,0.75);
  -webkit-transform: translate(1.5px,-1.5px);
      -ms-transform: translate(1.5px,-1.5px);
          transform: translate(1.5px,-1.5px);
}

input {
  height: 40px;
  width: 100%;
  border-radius: 7.5px;
  margin-top: 4px;
}

label {
  padding-left: 3px;
}

input[type=text] {
  border: 2px solid var(--lightgrey);
  outline: none;
  color: var(--darkgrey);
  padding: 0 0.5rem;
  font-size: 1rem;
  font-family: nexa-light;
  outline: none;
}

input[type=text]:focus {
  border: 2px solid var(--green);
  color: black;
}

#email:focus {
  border: 2px solid var(--blue);
}

input[type=submit] {
  background: transparent;
  border: 2px solid var(--blue);
  font-family: nexa-bold;
  font-size: 1rem;
  color: var(--blue);
}

input[type=submit]:hover {
  background: var(--blue);
  color: white;
}

.message {
  resize: none;
  width: 100%;
  border: 2px solid var(--lightgrey);
  border-radius: 7.5px;
  padding: 0.5rem;
  font-family: nexa-light;
  font-size: 1rem;
  outline: none;
  color: var(--darkgrey);
  margin-top: 3px;
  outline: none;
}

.message:focus {
  border-color: var(--green);
  color: black;
}

/*---- Mediaquery Breakpoints ----*/

/* Ipads, Tablets */
@media (min-width: 481px) {
  body {
    background-image: url('imgs/tablet-background.svg');
  }

  .grid {
    padding: 0 50px;
    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(8, 1fr);
  }

  .menu {
    background-image: url('imgs/tablet-background.svg');
  }

  .home {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .logo {
    left: 50px;
  }

  .menu-button {
    right: 50px;
  }

  .content-grid {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2 / span 6;
  }

  .about-text {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2 / span 6;
  }

  .about-cards {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2 / span 6;
  }

  .project-content {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2 / span 6;
  }
}


/* Small Screens */
@media (min-width: 769px) {
  .content-grid {
    grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
  }
}

/* Desktops */
@media (min-width: 1025px) {
  body {
    background-image: url('imgs/background-icons.svg');
  }

  h3 { font-size: 24px; }
  h4 { font-size: 18px; }
  p { font-size: 18px; }

  .grid {
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
  }

  .flex {
    padding-top: 20vh;
  }

  .menu {
    background-image: url('imgs/background-icons.svg');
  }

  .content-grid {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / span 10;
  }

  .about-container {
    padding: 20vh 0;
  }

  .about-text {
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-column: 4 / span 6;
  }

  .about-cards {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3 / span 8;
  }

  .project-content {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3 / span 8;
  }

  .contact {
    padding: 20vh 0 10vh 0;
  }
}

@media (max-width: 1168px) {
  .landing-headings {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .profile-img {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
