@font-face {
  font-family: Nexa-Bold;
  src: url('fonts/NexaBold.woff2') format('woff2'),
        url('fonts/NexaBold.woff') format('woff'),
        url('fonts/NexaBold.ttf') format('truetype');
}

@font-face {
  font-family: Nexa-Light;
  src: url('fonts/NexaLight.woff2') format('woff2'),
        url('fonts/NexaLight.woff') format('woff'),
        url('fonts/NexaLight.ttf') format('truetype');
}

:root {
  --blue: #5995ED;
  --green: #78F7A9;
  --lightgrey: #E5E5E5;
  --white: #fff;
  --black: #282828;
  --lightshadow: rgba(229, 229, 229, 0.25);
  --darkshadow: rgba(229, 229, 229);
}

p { font-family: Nexa-Light;}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('imgs/background-icons.svg');
  background-size: 100% auto;
}

html {
  font-family: Nexa-Bold, sans-serif;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  max-width: 1440px;
  width: 100%;
  height: auto;
  padding: 0 40px;
  margin: 6rem 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  row-gap: 20rem;
}

.blue-card {
  padding: 32px 0;
  box-shadow: -5px 5px 0px var(--blue), 10px -5px 25px var(--lightshadow);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

.title {
  margin-bottom: 1.25rem;
}

.card-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: fixed;
  top: 50px;
  left: 50px;
  height: 40px;
  width: 40px;
}

.develop {
  color: var(--blue);
}

.design {
  color: var(--green);
}

.line {
  height: 100px;
  width: 5px;
  border-radius: 5px;
  background-color: var(--lightgrey);
  margin: 0 5vw;
}

.about-text {
  padding: 2rem 0;
  grid-column: 2 / span 5;
  grid-row: 1 / auto;
  background-color: var(--white);
}

.about-cards {
  height: auto;
  grid-column: 8 / span 4;
  grid-row: 1 / auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.languages {
  align-self: start;
  height: 16rem;
}

.services {
  align-self: end;
  height: 16rem;
}

.projects {
  grid-column: 2 / span 10;
  grid-row: 2 / auto;
}

.project-heading {
  padding-left: .5rem;
}

.project-grid {
  grid-column: 2 / span 10;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  grid-gap: 3.5rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  box-shadow: -5px 5px 0px var(--green), 10px -5px 25px var(--lightshadow);
  border-radius: 1rem;
  background-color: white;
}

.card-img {
  max-height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.project-card-text {
  padding: 1.5rem;
}

.project-card-text h3 {
  margin-bottom: .5rem;
}

.contact-text {
  grid-column: 2 / span 5;
  grid-row: 3 / auto;
}

.contact-card {
  height: 560px;
  grid-column: 8 / span 4;
  grid-row: 3 / auto;
}

.socials {
  grid-column: 2 / span 5;
  grid-row: 3 / auto;
  align-self: end;
  display: flex;
  justify-content: center;
}

.social-button {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: var(--blue);
  box-shadow: -10px 10px 20px var(--darkshadow);
}

.social-button:nth-child(2) {
  background-color: var(--green);
  margin: 0 2rem;
}
